extends layout 

block content 
  h1= title 

  h2 Time of Creation
  p= developer.time_of_creation

  h2 Games
  if developer_games.length
    dl
      each game in developer_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}
  else
    p This developer has no games.

block actions
  a.update(href=developer.url+'/update') Update Developer
  a.delete(href=developer.url+'/delete') Delete Developer