extends layout 

block content
  h1= title

  form#form(method='POST')
    div.form-group
      label(for='name') Name:
      input#name(type='text' name='name' required value=(developer ? developer.name : ''))
      input#prev_name(type='hidden' name='prev_name' value=prev_name)
      if errors && errors.has('name')
        p.form-error * #{errors.get('name')}

    div.form-group
      label(for='time_of_creation') Time of Creation:
      input#time_of_creation(type='number' name='time_of_creation' value=(developer ? developer.time_of_creation : max_time_of_creation) placeholder='YYYY' min=min_time_of_creation max=max_time_of_creation step='1')
      if errors && errors.has('time_of_creation')
        p.form-error * #{errors.get('time_of_creation')}

    div.form-group
      label(for='type') Type:
      select#type(name='type' required)
        each type in types 
          option(value=type selected=(developer ? developer.type === type : false))= type
      if errors && errors.has('type')
        p.form-error * #{errors.get('type')}

block actions  
  button.update(type='submit' form='form') Submit