extends layout 

block content 
  h1= title 

  if developer_games.length
    h2 Games
    dl
      each game in developer_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}
  else
    p This developer has no games.

  a.link-update(href=developer.url+'/update') Update Developer
  a.link-delete(href=developer.url+'/delete') Delete Developer