extends layout 

block content 
  h1= title 

  h2 Time of Creation
  p= game.time_of_creation ? game.time_of_creation : 'N/A'

  h2 Description 
  p= game.description ? game.description : 'N/A'

  h2 Genre 
  if !game.genre || game.genre.length === 0
    p N/A
  else
    p 
      each genre, index in game.genre
        a(href=genre.url) #{genre.name}
        if index < game.genre.length - 1
          | , 

  h2 Platforms
  if !game.platform || game.platform.length === 0
    p N/A
  else
    p
      each platform, index in game.platform
        a(href=platform.url) #{platform.name}
        if index < game.platform.length - 1
          | , 

  h2 Developer
  if !game.developer
    p N/A
  else
    p
      a(href=game.developer.url) #{game.developer.name}

  h2 Publisher
  if !game.publisher
    p N/A
  else
    p
      a(href=game.publisher.url) #{game.publisher.name}

  p.delete-message Are you sure you want to delete this game?

block actions
  form(method='POST')
    button.delete(type='submit') Delete Game