extends layout 

block content 
  h1= title 

  if genre_games.length
    h2 Games
    dl
      each game in genre_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}
  else
    p This genre has no games.

block actions
  a.update(href=genre.url+'/update') Update Genre
  a.delete(href=genre.url+'/delete') Delete Genre