extends layout 

block content 
  h1= title 

  if platform_games.length
    h2 Games
    dl
      each game in platform_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}
  else
    p This platform has no games.

block actions
  a.update(href=platform.url+'/update') Update Platform
  a.delete(href=platform.url+'/delete') Delete Platform