extends layout 

block content 
  h1= title 

  h2 Time of Creation
  p= publisher.time_of_creation

  if publisher_games.length
    h2 Games
    dl
      each game in publisher_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}
  else
    p This publisher has no games.

block actions
  a.update(href=publisher.url+'/update') Update Publisher
  a.delete(href=publisher.url+'/delete') Delete Publisher